@import "mixin";

section.build {
  &.success h1 {
    color: #27AE60;
  }

  &.failure h1 {
    color: #C0392B;
  }

  &.success h1 span:before {
    content: "\F058";
  }

  &.build.failure h1 span:before {
    content: "\F057";
  }

  &.build.unfinished h1 span:before {
    content: "\F056";
  }

  td {
    padding-right: 1em;
  }

  pre {
    @include box;
    margin-top: 1em;
    padding: .5em 1em;
    background: #eee;
    overflow-x: scroll;
  }
}
