@import "mixin";

* {
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  font-family: "Helvetica Neue", "Calibri", sans-serif;
  line-height: 1.7;
}

a {
  color: inherit;
  text-decoration: none;
}

i {
  margin-right: .3em;
}

textarea,
input {
  font-size: 1em;
}

textarea,
input[type="text"] {
  @include box;
  width: 100%;
}

*:before {
  margin-right: .3em;
  font-family: FontAwesome;
}

.button {
  @include box;
  width: 10em;
  font-size: 1em;
  color: white;
  background: #F39C12;
  border-color: #F39C12;
  line-height: inherit;
  cursor: pointer;
  text-align: center;
}

section.breadcrumbs {
  ul {
    @include box;
    border-color: #eee;
    background: #eee;
    list-style: none;
    overflow: hidden;
    color: #888;
  }

  li {
    float: left;
    margin-right: 1em;
  }

  li.delimiter:before {
    content: "\F105";
  }
}
